/* MacBook Pro 14" 1512px */

/* MacBook Air" 1280px */

@media screen and (max-width: 1280px) {

  h1 {
    margin-left: 80px;
  }

  p {
    margin: 0px 80px 40px 80px;
  }

  h2,
  .h2-sub {
    margin: 0px 80px 0px 80px;
  }

  .h2-sub {
    margin-bottom: 40px;
  }

  .container-menu {
    display: grid;
    grid-template-columns: 140px 1fr;
    margin: 120px 80px 160px 80px;
  }

  .container-grid-start {
    margin: 0px 80px 80px 80px;
  }

  .container-grid-archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 80px 80px 80px;
    gap: 20px 20px;
  }

  .container-headline-projects,
  .container-other-projects-row {
    display: grid;
    margin: 0px 80px 40px 80px;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
  }

  .container-other-projects-row {
    margin-bottom: 8px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 80px 80px 80px;
  }

  .container-footer-links {
    margin-left: 80px;
  }

}

/* iPad Pro 1024px */

@media screen and (max-width: 1024px) {

  h1 {
    margin-left: 40px;
  }

  p {
    margin: 0px 40px 40px 40px;
  }

  h2,
  .h2-sub {
    margin: 0px 40px 00px 40px;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .h2-sub {
    margin-bottom: 40px;
    color: #66645A;
  }

  .container-menu {
    display: none;
  }

  .container-menu-mobile {
    display: grid;
    margin: 120px 40px 160px 40px;
  }

  .container-grid-start {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 40px 40px;
  }

  .container-grid-archive {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 40px 40px 40px;
    gap: 20px 20px;
  }

  .container-footer-links {
    margin-left: 40px;
  }

  .container-headline-projects,
  .container-other-projects-row {
    display: grid;
    margin: 0px 40px 40px 40px;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
  }

  .container-other-projects-row {
    margin-bottom: 8px;
  }

  .container-other-projects {
    margin-bottom: 40px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 40px 80px 40px;
  }

  .container-footer-links {
    margin-left: 40px;
  }

  .text-footer {
    margin-bottom: 80px;
  }
}

/* iPad Air 820px */

@media screen and (max-width: 820px) {

  h1 {
    font-size: 72px;
    margin-bottom: 80px;
  }

  h2,
  .h2-sub {
    font-size: 28px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .h2-sub {
    color: #66645A;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .text-footer,
  .text-footer-links {
    font-size: 24px;
  }

  .text-footer {
    margin-bottom: 60px;
  }

  .container-hero {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 40px 40px 40px;
  }

  .container-download {
    margin-bottom: 40px;
  }
}

/* iPhone 16 Pro Max 440px */

/* iPhone 16 393px */