/* MacBook Pro 14" 1512px */

/* MacBook Air" 1280px */

p {
  margin: 0px 80px 40px 80px;
}

/* iPad Pro 1024px */

@media screen and (max-width: 1024px) {

  p {
    margin: 0px 40px 40px 40px;
    ;
  }

  .headline,
  .subheadline {
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .subheadline {
    color: #66645A;
  }

  .container-grid-start {
    display: flex;
    flex-direction: row;
    margin: 0px 40px 80px 40px;
    gap: 20px 20px;
  }
}

/* iPad Air 820px */

/* iPhone 16 Pro Max 440px */

/* iPhone 16 393px */