  /* Body */

  :root {
    --black: #1a1a1a;
    --white: #fffcff;
    --ancient: #66645A;
    --mystic: #B0AD9B;
  }

  body {
    background-color: #fffcff;
    margin: 0px;
    padding: 0px;
  }

  /* Textstyles */

  h1 {
    font-family: "pretendard", sans-serif;
    color: #fffcff;
    margin-left: 120px;
    margin-bottom: 120px;
    font-weight: 800;
    font-size: 80px;
    letter-spacing: -8px;
  }

  h2,
  .h2-sub {
    font-family: "pretendard", sans-serif;
    color: #1a1a1a;
    margin: 0px 120px 0px 120px;
    font-size: 40px;
    font-weight: 300;

  }

  .h2-sub {
    margin: 0px 120px 40px 120px;
    color: #66645A;
  }

  h3 {
    font-family: "pretendard", sans-serif;
    color: #1a1a1a;
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 32px;
  }

  h3:hover {
    text-decoration: underline;
  }

  p {
    font-family: "pretendard", sans-serif;
    color: #1a1a1a;
    margin: 0px 120px 40px 120px;
    font-weight: 300;
    font-size: 32px;
  }

  .text-hero {
    color: #fffcff;
    text-align: center;
  }

  .text-about {
    color: #fffcff
  }

  .text-year {
    margin: 0px 0px 0px 0px;
    text-align: end;
  }

  .text-services {
    margin-bottom: 0px;
  }

  a {
    font-family: "pretendard", sans-serif;
    color: #1a1a1a;
    text-decoration: none;
  }

  .text-download {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    margin-bottom: 80px;
    gap: 8px; 
  }

  .text-download:hover {
    text-decoration: underline;
  }

  /* Container */

  .container-hero {
    display: flex;
    padding: 200px 300px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1a1a1a;
  }

  /* about-button */

  button {
    background-color: #66645A;
    color: #fffcff;
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    width: 120px;
    cursor: pointer;
  }

  .about-button {
    color: #fffcff;
    text-decoration: none;
  }

  button:hover {
    background-color: #B0AD9B;
  }

  /* Nav Desktop */

  nav {
    margin: 120px 120px 160px 120px;
  }

  nav ul {
    padding: 0px 0px;
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 40px;
  }

  li {
    text-align: center;
  }

  nav li:first-child {
    margin-right: auto;
  }

  .nav-aktiv {
    font-weight: 500;
    font-size: 24px;
    color: #66645A;
  }

  .nav-deaktiv {
    font-weight: 400;
    font-size: 24px;
  }

  .nav-deaktiv:hover,
  .nav-aktiv:hover {
    text-decoration: underline;
  }

  /* Nav Mobile */

  .nav-mobile {
    display: none;
    text-align: end;
  }

  .nav-mobile-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .nav-mobile-txt {
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fffcff;
  }

  /* Footer */

  .container-footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1a1a1a;
  }

  .text-footer,
  .text-footer-links {
    color: #fffcff;
    font-weight: 300;
    font-size: 32px;
  }

  .text-footer {
    margin-bottom: 100px;
  }

  .container-footer-links {
    margin-left: 120px;
  }

  .text-footer-links:hover {
    text-decoration: underline;
  }

  /* Grid Start */

  .container-grid-start {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 0px 120px 80px 120px;
    gap: 20px 20px;
  }

  .container-overlay {
    margin: 0;
    padding: 0;
    height: 590px;
    position: relative;
  }

  .pic-start {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 590px;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #000;
  }

  .container-overlay:hover .overlay {
    opacity: 0.8;
  }

  .text-overlay {
    display: flex;
    font-family: "pretendard", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
    justify-content: center;
    gap: 8px;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  /* Work */

  .container-headline-projects,
  .container-other-projects-row {
    display: grid;
    margin: 0px 120px 40px 120px;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
  }

  .container-other-projects {
    margin-bottom: 72px;
  }

  .container-other-projects-row {
    margin: 0px 120px 8px 120px;
  }

  .container-other-projects-row-02 {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
  }  

  .container-picture-work {
    margin: 0px 120px 80px 120px;
  }

  .picture-work {
    max-width: 100%;
  }

  .container-download {
    margin-bottom: 80px;
  }

  /* Archive */

  .container-grid-archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 120px 80px 120px;
    gap: 20px 20px;
  }

  .pic-archive {
    width: 100%;
    object-fit: cover;
  }

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }