/* MacBook Pro 14" 1512px */

/* MacBook Air" 1280px */

@media screen and (max-width: 1280px) {

  h1 {
    margin: 0px 240px 40px 240px;
  }

  p {
    margin: 0px 80px 40px 80px;
  }

  h2,
  .h2-sub {
    margin: 0px 80px 0px 80px;
  }

  .h2-sub {
    margin-bottom: 40px;
  }

  .container-hero {
    padding: 200px 200px;
  }

  nav {
    margin: 120px 80px 160px 80px;
  }

  .container-grid-start {
    margin: 0px 80px 80px 80px;
  }

  .container-grid-archive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 80px 80px 80px;
    gap: 20px 20px;
  }

  .container-headline-projects,
  .container-other-projects-row {
    display: grid;
    margin: 0px 80px 40px 80px;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
  }

  .container-other-projects-row {
    margin-bottom: 8px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 80px 80px 80px;
  }

  .container-footer-links {
    margin-left: 80px;
  }

  .con-about {
    margin: 0px 200px 100px 240px;
}
}

/* iPad Pro 1024px */

@media screen and (max-width: 1024px) {

  h1 {
    margin: 0px 120px 40px 40px;
  }

  p {
    margin: 0px 40px 40px 40px;
  }

  h2,
  .h2-sub {
    margin: 0px 40px 00px 40px;
    font-size: 36px;
  }

  .h2-sub {
    margin-bottom: 40px;
  }

  nav {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: flex-end;
    margin: 80px 40px 100px 40px;
  }

  .container-hero {
    padding: 200px 120px;
  }

  .container-grid-start {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 40px 40px;
  }

  .container-grid-archive {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 40px 40px 40px;
    gap: 20px 20px;
  }

  .container-footer-links {
    margin-left: 40px;
  }

  .container-headline-projects,
  .container-other-projects-row {
    display: grid;
    margin: 0px 40px 40px 40px;
    grid-template-columns: 4fr 1fr;
    align-items: baseline;
  }

  .container-other-projects-row {
    margin-bottom: 8px;
  }

  .container-other-projects {
    margin-bottom: 40px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 40px 80px 40px;
  }

  .container-footer-links {
    margin-left: 40px;
  }

  .text-footer {
    margin-bottom: 80px;
  }

  .con-about {
    margin: 0px 200px 100px 40px;
}

.viewport-about {
  height: 90vh;
}

}

/* iPad Air 820px */

@media screen and (max-width: 820px) {

  h1 {
    font-size: 140px;
    letter-spacing: -16px;
  }

  h2,
  .h2-sub {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .text-footer,
  .text-footer-links {
    font-size: 24px;
  }

  .text-footer {
    margin-bottom: 60px;
  }

  .container-hero {
    padding: 200px 80px;
  }

  .container-picture-work,
  .container-picture-work-example {
    margin: 0px 40px 40px 40px;
  }

  .container-download {
    margin-bottom: 40px;
  }

  .con-about {
    margin: 0px 80px 100px 40px;
}

.viewport-about {
  height: 85vh;
}
}

/* iPhone 16 Pro Max 440px */

@media screen and (max-width: 440px) {


  h1 {
font-size: 100px;
  }

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .container-hero {
    padding: 200px 20px;
  }

  .container-overlay {
    height: 400px;
  }

  .pic-start {
    height: 400px;
  }

  .container-grid-archive {
    gap: 10px 20px;
  }

  .row {
    row-gap: 10px;
  }

  .con-about {
    margin: 0px 40px 100px 40px;
}

.viewport-about {
  height: 80vh;
}

}

/* iPhone 16 393px */

@media screen and (max-width: 393px) {

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .text-footer,
  .text-footer-links {
    font-size: 22px;
  }

  .text-footer {
    margin-bottom: 40px;
  }
}