.wrapperLoader {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-200);
    transition: opacity 0.75s, visibility 0,75s;
}

.wrapperLoader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 4vw solid var(--accent-100);
    border-top: 4vw solid var(--accent-200);
    animation: circle 0.75s ease infinite; 
}

@keyframes circle {
    0% {transform: rotateZ(0);}
    100% {transform: rotateZ(360deg);}
}

.wrapperLock {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}