.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    transition: opacity 1s, visibility 2s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 4vw solid var(--accent-100);
    border-top: 4vw solid var(--accent-200);
    animation: circle 0.5s ease infinite;
}

@keyframes circle {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}