  /* Body */

  :root {
    --gray-200: #1a1a1a;
    --gray-100: #fffcff;
    --accent-200: #66645A;
    --accent-100: #B0AD9B;

    --background-color: var(--gray-100);
    --text-color: var(--gray-200);
    --color-accent-primary: var(--accent-200);
    --color-accent-secondary: var(--accent-100);
  }

  body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
  }

  body.theme-dark {
    --background-color: var(--gray-200);
    --text-color: var(--gray-100);
    --color-accent-primary: var(--accent-100);
    --color-accent-secondary: var(--accent-200);
  }

  /* Textstyles */

  h1 {
    font-family: "pretendard", sans-serif;
    color: var(--text-color);
    margin: 0px 440px 80px 120px;
    font-weight: 800;
    font-size: 240px;
    letter-spacing: -8px;
  }

  h2,
  .h2-sub {
    font-family: "pretendard", sans-serif;
    color: var(--text-color);
    margin: 0px 120px 0px 120px;
    font-size: 40px;
    font-weight: 300;

  }

  .h2-sub {
    margin: 0px 120px 40px 120px;
    color: var(--color-accent-primary);
  }

  h3 {
    font-family: "pretendard", sans-serif;
    color: var(--text-color);
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 32px;
  }

  h3:hover {
    text-decoration: underline;
  }

  p {
    font-family: "pretendard", sans-serif;
    color: var(--text-color);
    margin: 0px 120px 40px 120px;
    font-weight: 300;
    font-size: 32px;
  }

  .text-hero {
    color: var(--gray-100);
    text-align: center;
  }

  .text-year {
    margin: 0px 0px 0px 0px;
    text-align: end;
  }

  .text-services {
    margin-bottom: 0px;
  }

  a {
    font-family: "pretendard", sans-serif;
    color: var(--text-color);
    text-decoration: none;
  }

  .text-download {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    margin-bottom: 80px;
    gap: 8px;
  }

  .text-download:hover {
    text-decoration: underline;
  }

  /* Footer */

  footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--gray-200);
  }

  .text-footer,
  .text-footer-links {
    color: var(--gray-100);
    font-weight: 300;
    font-size: 32px;
  }

  .text-footer-links {
    margin-bottom: 100px;
  } 

  .container-footer-links {
    margin-left: 120px;
  }

  .text-footer-links:hover {
    text-decoration: underline;
  }
