/* Work */

.txt-year {
  margin: 0px 0px 0px 0px;
  text-align: end;
}

.txt-services {
  margin-bottom: 0px;
}

.con-headline-projects,
.con-other-projects-row {
  display: grid;
  margin: 0px 120px 40px 120px;
  grid-template-columns: 4fr 1fr;
  align-items: baseline;
}

.con-other-projects {
  margin-bottom: 72px;
}

.con-other-projects-row {
  margin: 0px 120px 8px 120px;
}

.con-other-projects-row-02 {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
}

.con-pic-work {
  margin: 0px 120px 80px 120px;
}

.pic-work {
  max-width: 100%;
}

.con-download {
  margin-bottom: 80px;
}

.txt-download {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  margin-bottom: 80px;
  gap: 8px;
}

.txt-download:hover {
  text-decoration: underline;
}